.homeContainer{
    display: grid;
    gap: 1rem;
    justify-content: center;
    h2{
        text-align: center;
    }
    
};
.homeTitle{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    border:  solid rgb(62, 59, 59) 5px;
    border-radius: 10px;
    margin: 10px
}  

.blur-in{animation:blur-in 0.4s linear both} @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.sliderListMobile{
    display: flex;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding-bottom:20px ;
    
}

.feedback{
    display: grid;
    label{
        text-align: center
    }
};

.photoPart{
    display:grid
};
.homeImgList{

    display: flex
};
.imgHome{
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 10px black;
    margin: 40px 30px 40px;
};

.homePageVideo{
    // height: 200px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 10px black;
    margin: 40px 30px 40px  ;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;

}




