.car-container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
}
.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}
.car-image {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(193, 109, 246, 0.5);
    display: flex;
}
car-span {
    margin: auto;
    font-size: 2rem;
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}
.car-image:nth-child(1) {
    transform: rotateY(0deg) translateZ(430px);
}
.car-image:nth-child(2) {
    transform: rotateY(40deg) translateZ(430px);
}
.car-image:nth-child(3) {
    transform: rotateY(80deg) translateZ(430px);
}
.car-image:nth-child(4) {
    transform: rotateY(120deg) translateZ(430px);
}
.car-image:nth-child(5) {
    transform: rotateY(160deg) translateZ(430px);
}
.car-image:nth-child(6) {
    transform: rotateY(200deg) translateZ(430px);
}
.car-image:nth-child(7) {
    transform: rotateY(240deg) translateZ(430px);
}
.car-image:nth-child(8) {
    transform: rotateY(280deg) translateZ(430px);
}
.car-image:nth-child(9) {
    transform: rotateY(320deg) translateZ(430px);
}.car-container {
     position: relative;
     width: 320px;
     margin: 100px auto 0 auto;
     perspective: 1000px;
 }
.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}
.car-image {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(193, 109, 246, 0.5);
    display: flex;
}
car-span {
    margin: auto;
    font-size: 2rem;
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}
.car-image:nth-child(1) {
    transform: rotateY(0deg) translateZ(430px);
}
.car-image:nth-child(2) {
    transform: rotateY(40deg) translateZ(430px);
}
.car-image:nth-child(3) {
    transform: rotateY(80deg) translateZ(430px);
}
.car-image:nth-child(4) {
    transform: rotateY(120deg) translateZ(430px);
}
.car-image:nth-child(5) {
    transform: rotateY(160deg) translateZ(430px);
}
.car-image:nth-child(6) {
    transform: rotateY(200deg) translateZ(430px);
}
.car-image:nth-child(7) {
    transform: rotateY(240deg) translateZ(430px);
}
.car-image:nth-child(8) {
    transform: rotateY(280deg) translateZ(430px);
}
.car-image:nth-child(9) {
    transform: rotateY(320deg) translateZ(430px);
}
