.navbar{
    background: none;
    display: grid;
    justify-content: space-between;




    .navLinks{
        display: flex;
        background: none;
        border: none;
        overflow: auto;
        white-space: nowrap;
        z-index: 1;
        margin-right: 0;

        &::-webkit-scrollbar{
            display: none;
        }
    }
    .studentlinks{
        margin: 0;
        padding: 0;
    }

    .guestLinks{
        border: 0;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .profileLinks{
        padding: 0;
        // position: absolute;
        display: flex;
        flex-direction: column;
        // right: 20px;

    }
}


// desktop screen

@media (width >= 850px) {
    .navbar{
        display: flex;
        align-items: center;
    }

    .studentLinks{
        display: grid;
        position: absolute;
        left: 20px;
        top: 150px;
    }

    // .navLinks{

    // }


}

@media (max-width 850px){
    .profileLinks{
        position: absolute;
        right: 20px;

    }
}

